<h1>Have fun</h1>

<%= form_for(:map, :url => "/", :html => { :method => 'get' }) do |f| %>
  <div class="field">
    <%= f.label :start_address, "Start Address" %><br />
    <%= f.text_field :start_address %>
  </div>
  <div class="field">
    <%= f.label :end_address, "End Address" %><br />
    <%= f.text_field :end_address %>
  </div>
  <div class="action">
    <%= f.submit "Show me the way!" %>
  </div>
<% end %>

<% if @has_search_result %>
  <hr />
  <div id="search_result">
    <h1>Search Result</h1>
    <p>From-To: <span id='start_address'><%= get_start_address_from_result %></span> ===> <span id='end_address'><%= get_end_address_from_result %></span></p>
    <p id='distance'>Distance: <%= get_distance_from_result %></p>
    <p id='duration'>Duration: <%= get_duration_from_result %></p>
    <p>Steps:</p>
	<div id='steps'>
	  <ol>
	 	<% get_steps_from_result.each do |step| %>
	   	  <li id='instruction'> <%= make_instruction_from(step).html_safe %> </li>
		<% end %>
	  </ol>
    </div>
  </div>
<% elsif !params[:map].nil? %>
  <p>Invalid addresses, please try again.</p>
  <hr />
<% end %>
